@{
    Layout = null;
}

<!DOCTYPE html>

@* This is a Razor-style comment in a CSHTML file *@

<!-- This is an HTML-style comment in a CSHTML file -->

<!-- This View coresponds to Controller ComicBook and its Action Detail -->

<html>

    <head>
        <meta name="viewport" content="width=device-width" />
        <title></title>
    </head>

    <body>
        <div>
            <h1> I won't be here long. <br> Please do not forget me. </h1>
        </div>
    </body>

</html>
