@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Comic Book Detail";
}

<!DOCTYPE html>

@* This is a Razor-style comment in a CSHTML file *@

<!-- This is an HTML-style comment in a CSHTML file -->
<!-- This View coresponds to Controller ComicBook and its Action Detail -->
@*
    - Starting a line with @ specifies that we are using C#.
    - C# content is escaped. You need to use Html.Raw().
    - You can make changes in the View source and refresh the webpage without rerunning it.


    - Loop with @.
    - <ul> : unordered list
    - <li> : list item
    - Ctrl+K, Ctrl+C to comment out a block of code, and Ctrl+K, Ctrl+U to uncomment a block of code.
    - If in @.


    - ViewBag defined at controller and used here.
    - Because ViewBag is dynamic there is no InteliSense.
    - ViewBag properties are not case sensitive.


    - html, head, body live in html, contents below are rendered from RenderBody()
*@


<div>

    <h1>    @ViewBag.seriesTitle        </h1>
    <h2>    Issue: #@ViewBag.issueNumber </h2>

    <h5>    Description:              </h5>
    <div>   @Html.Raw(ViewBag.description)    </div>

    @if (ViewBag.artists.Length > 0)
    {
        <h5>    Artist:     </h5>
        <div>
            <ul>
                @foreach (var artist in ViewBag.artists)
                {
                    <li>@artist</li>
                }
            </ul>
        </div>
    }

</div>

