<!--

    - _ViewStart.cshtml was made automatically and layout did not have to be specified.


    - Default routing code at Global.asax.
    - Also routing options.
    - We need an Index Controller or change RouteConfig.cs to use the ComicBooks controller.


    - Creating an anonymous type
    - Html.ActionLink -> text to link
    - Url.Action -> imag to link

-->

@model Comic_Book_Gallery.Models.ComicBook[]

@{
    ViewBag.Title = "Comic Books";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    @foreach (var comicBook in Model)
    {
        <div class="col-md-3">
            <h4>@Html.ActionLink(comicBook.DisplayText,"Detail",new { id = comicBook.Id } )</h4>
            <a href="@Url.Action("Detail", new { id = comicBook.Id })">
                <img src="/Images/@comicBook.CoverImageFileName"
                     alt=@comicBook.DisplayText
                     class="img-responsive" />
            </a>
        </div>
    }
</div>
